server:
  port: 20
spring:
  application:
    name: restaurant-service

  # Database configuration
  datasource:
    url: jdbc:postgresql://localhost:5433/db
    username: user
    password: password

  # JPA configuration
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
  sql:
    init:
      mode: always

kafka:
  # GENERAL CONFIG
  bootstrap-servers: localhost:9092,localhost:9093,localhost:9094
  admin:
    enabled: true
  # CONSUMER CONFIG
  consumer:
    group.id: my-group
    key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
  # TOPICS
  topic-names:
    payment-initialized: payments-initialized
    payment-verified: payments-verified
    payment-verified-con: outbox.event.payments-verified
    payment-processing: payments-processing
    payment-processing-con: outbox.event.payments-processing
    payment-complete: payments-complete
    payment-failed: payments-failed
    payment-cancel: payments-cancel
    payment-cancel-con: outbox.event.payments-cancel
    order-cancelled: order-cancelled
    order-cancelled-con: outbox.event.order-cancelled
    payment-rollback-failed: payment-rollback-failed
    payment-rollback-success: payment-rollback-success
