server:
  port: 20
spring:
  application:
    name: restaurant-service

  # Database configuration
  datasource:
    url: jdbc:postgresql://localhost:5433/db
    username: user
    password: password

  # JPA configuration
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
  sql:
    init:
      mode: always

kafka:
  # GENERAL CONFIG
  bootstrap-servers: localhost:9092,localhost:9093,localhost:9094
  admin:
    enabled: true
  # PRODUCER CONFIG
  producer:
    key.serializer: org.apache.kafka.common.serialization.StringSerializer
    value.serializer: org.apache.kafka.common.serialization.StringSerializer
    # Safety configs (Kafka <= 2.8.0)
    enable.idempotence: true
    acks: all
    retries: 3
    retry.backoff.ms: 1000
    # High throughput (better performance) config
    linger.ms: 20 # After what period of time the producer will send the message
    batch.size: 32768 # 32KB If the batch limit is met, send immediately
    compression.type: snappy
  # CONSUMER CONFIG
  consumer:
    group.id: my-group
    key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
  # TOPICS
  topic-names:
    payment-initialized: payments-initialized
    payment-verified: payments-verified
    payment-processing: payments-processing
    payment-complete: payments-complete
    payment-failed: payments-failed
    payment-cancel: payments-cancel
    order-cancelled: order-cancelled
    payment-rollback-failed: payment-rollback-failed
    payment-rollback-success: payment-rollback-success
