server:
  port: 30
spring:
  application:
    name: restaurant-service

  # Database configuration
  datasource:
    url: jdbc:postgresql://localhost:5434/db
    username: user
    password: password

  # JPA configuration
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
  sql:
    init:
      mode: always

kafka:
  # GENERAL CONFIG
  bootstrap-servers: localhost:9092,localhost:9093,localhost:9094
  admin:
    enabled: true
  # CONSUMER CONFIG
  consumer:
    group.id: restaurant-consumer-group
    key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
  # RETRY/DLQ CONFIG
  retry-attempts: 3
  retry-interval: 1000
  retry-backoff-multiplier: 2
  retry-backoff-max-interval: 60000
  dlq-prefix: ""
  dlq-suffix: "-DLQ"
  # TOPICS
  topic-names:
    order-paid: order-paid
    order-paid-con: outbox.event.order-paid
    restaurant-event: restaurant-event

logging:
  level:
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN
    org.hibernate.orm.jdbc.bind: WARN
